<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
     <add id="Zedrox_ImageSlider::slider_menu"
            title="Slider"
            module="Zedrox_ImageSlider"
            sortOrder="20"
            resource="Magento_Backend::content" />
        <add id="Zedrox_ImageSlider::manage_slider"
            title="Manage Slider"
            module="Zedrox_ImageSlider"
            sortOrder="10"
            parent="Zedrox_ImageSlider::slider_menu"
            resource="Magento_Backend::content"
            action="imageslider/slider/index"
        />
        <add id="Zedrox_ImageSlider::image"
            title="Manage Image"
            module="Zedrox_ImageSlider"
            sortOrder="10"
            parent="Zedrox_ImageSlider::slider_menu"
            resource="Magento_Backend::content"
            action="imageslider/image/index"
        />
    </menu>
</config>
